#main {
    margin: 0px;
    display: flex; 
}

.dailyActivitiesContainer {
    min-height: 300px;
    width: 100%;
    background-color: aquamarine;
    padding: 50px;
}

.activityContainer {
    padding: 10px;
}

.container {
    margin-right: 20px;
    padding: 40px;
    background-color: lightgray;
    width: 400px;
}

#activitiesContainer{
    margin-left: 35px;
    margin-top: 15px;
    position: fixed;
    width: 350px;
    background-color: azure;
}

#activitiesContainerBackground{
    position: fixed;
    width: 420px;
    min-height: 600px;
    background-color: white;
    padding-top: 50px;
}

#daysContainer {
   
}

.dayContainer {
    background-color: lightgray;
}

.dailyActivitiesTable {
    margin-top: 20px;
    width: 320px;
    background-color: white;
}

.dailyActivitiesTable td {
    padding: 10px;
}

.activityCol {
    width: 240px;
}

.presentationContainer {
    background-color: deepskyblue;
}

.groupWorkContainer {
    background-color: darksalmon;
}

.discussionContainer {
    background-color: orangered;
}

.breakContainer {
    background-color: yellow;
}

/* popup style */
#activityCreationContainer {
    display: inline-block;
    position: fixed;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 550px;
    padding: 50px;
    margin: auto;
    background-color: whitesmoke;
    z-index: 2;
}

html,body{ 
    margin:0; 
    padding:0; 
    height:100%; 
    width:100%; 
}

#fullSize{
    position: fixed;
    top: 0;
    height:100%;
    width:100%;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

#addDayButtonContainer{
    width:150px; 
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 70px;
    margin-right: 50px;
}

#allDaysContainer{
    margin-left: 420px;
    padding-top: 50px;
}



 