#main {
    margin: 0px;
    display: flex; 
    background-color: white;
}

.dailyActivitiesContainer {
    min-height: 300px;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
}

.activityContainer {
    padding: 10px;
}

.container {
    margin-right: 20px;
    width: 400px;
    padding: 0px;
}

#activitiesContainer{
    position: fixed;
    width: 350px;
    background-color: azure;
}

#activitiesContainerBackground{
    position: fixed;
    min-height: 100%;
    width: 350px;
    background-color: white;
}

.activityCol {
    width: 240px;
}

.presentationContainer {
    background-color: deepskyblue;
}

.groupWorkContainer {
    background-color: darksalmon;
}

.discussionContainer {
    background-color: orangered;
}

.breakContainer {
    background-color: yellow;
}

.partContainer {
    padding: 10px 50px 10px 50px;
    margin-bottom: 10px;
}

.dayHeading {
    background-color: #13abb3;
    color: white;
}

.dayTiming {
    background-color: darkgray;
}

/* popup style */
#activityCreationContainer {
    display: inline-block;
    position: fixed;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 550px;
    margin: auto;
    background-color: whitesmoke;
    z-index: 2;
    padding: 35px;
}

html,body{ 
    margin:0; 
    padding:0; 
    height:100%; 
    width:100%; 
}

#fullSize{
    position: fixed;
    top: 0;
    height:100%;
    width:100%;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

#addDayButtonContainer{
    width:150px; 
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 70px;
    margin-right: 50px;
}

#allDaysContainer{
    margin-left: 420px;
    padding-top: 50px;
}


#activitiesHeading {
    background-color: #123136    ;
    padding: 10px 50px 10px 50px;
    text-align: center;
    color: white;
}
 